* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  background: #1c2431;
}

ul,
h1,
h2,
h3 {
  font-family: 'Raleway', sans-serif;
  color: white;
}

p {
  color: white;
}

@media only screen and (min-width: 768px) {
  p {
    font-size: 1.10em;
  }
}
