* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  background: #1c2431;
}

ul,
h1,
h2,
h3 {
  font-family: 'Raleway', sans-serif;
  color: white;
}

p {
  color: white;
}

@media only screen and (min-width: 768px) {
  p {
    font-size: 1.10em;
  }
}

.features,
.productivity,
.testimonal,
.newsletter {
  background-color: #181f2a;
}

header {
  display: -ms-grid;
  display: grid;
      grid-template-areas: "Logo Menu";
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
  padding: 22px 20px 43px 20px;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  header {
    padding: 50px 50px;
  }
}

@media screen and (min-width: 1025px) and (max-width: 1440px) {
  header {
    padding: 70px 80px;
  }
}

header img {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: Logo;
  width: 76px;
}

@media screen and (min-width: 768px) {
  header img {
    width: 179px;
  }
}

header nav {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: Menu;
}

header nav ul {
  height: 100%;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

header nav ul li {
  margin-left: 21px;
}

.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  position: relative;
}

@media only screen and (min-width: 320px) and (max-width: 768px) {
  .hero {
    padding: 0 32px;
  }
}

.hero img {
  width: 100%;
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .hero img {
    max-width: 630px;
  }
}

@media only screen and (min-width: 1025px) and (max-width: 1440px) {
  .hero img {
    max-width: 712px;
  }
}

.hero h1,
.hero p {
  line-height: 1.6;
}

.hero h1 {
  font-size: 1.6em;
  margin-top: 37px;
}

@media only screen and (min-width: 768px) {
  .hero h1 {
    font-size: 2em;
  }
}

@media only screen and (min-width: 1024px) {
  .hero h1 {
    padding: 0 5em;
  }
}

.hero p {
  margin: 19px 0;
  padding: 0 1em;
}

@media only screen and (min-width: 1024px) {
  .hero p {
    padding: 0 17em;
  }
}

.hero button {
  width: 217px;
  height: 45px;
  font-weight: 700;
  border-radius: 30px;
  background-image: -webkit-gradient(linear, left top, right top, from(#65e2d9), to(#339ecc));
  background-image: linear-gradient(to right, #65e2d9, #339ecc);
  border: none;
  color: white;
}

@media only screen and (min-width: 1024px) and (max-width: 1440px) {
  .hero button {
    width: 283px;
    height: 58px;
    font-size: 1.2em;
  }
}

.hero:after {
  content: "";
  position: absolute;
  bottom: 0;
  background-image: url("../images/bg-curvy-mobile.svg");
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: 100% 39vh;
  width: 100%;
  height: 55vh;
  z-index: -1;
}

@media screen and (min-width: 1440px) {
  .hero:after {
    background: url("../images/bg-curvy-desktop.svg");
    background-size: 1440px;
    background-repeat: no-repeat;
    background-position: -2px bottom;
    height: 65vh;
  }
}

.features {
  padding: 143px 33px;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (auto)[4];
      grid-template-rows: repeat(4, auto);
  row-gap: 72px;
  text-align: center;
}

@media screen and (min-width: 768px) and (max-width: 1440px) {
  .features {
    padding: 164px 50px 20px 50px;
    -ms-grid-columns: auto auto;
        grid-template-columns: auto auto;
    grid-auto-rows: auto auto;
    font-size: 0.9em;
    -webkit-column-gap: 118px;
            column-gap: 118px;
  }
}

@media screen and (min-width: 1024px) {
  .features {
    -webkit-column-gap: 153px;
            column-gap: 153px;
  }
}

.features .feature {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.features .feature h2 {
  margin: 0.6em 0;
}

.features .feature p {
  line-height: 1.5;
}

.productivity {
  padding: 0 24px;
  display: -ms-grid;
  display: grid;
      grid-template-areas: "image" "content";
  row-gap: 20px;
}

@media (min-width: 768px) {
  .productivity {
    padding: 0 50px;
  }
}

@media (min-width: 1024px) {
  .productivity {
        grid-template-areas: "image content";
    -webkit-column-gap: 50px;
            column-gap: 50px;
  }
}

.productivity img {
  width: 100%;
  grid-area: "image";
  -ms-grid-column-align: center;
      justify-self: center;
}

@media (min-width: 376px) and (max-width: 1023px) {
  .productivity img {
    width: 80%;
  }
}

@media (min-width: 1024px) and (max-width: 1224px) {
  .productivity img {
    width: 100%;
  }
}

@media (min-width: 1440px) {
  .productivity img {
    width: 619px;
  }
}

.productivity .prod_content {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: content;
}

@media (min-width: 1024px) {
  .productivity .prod_content {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}

@media (min-width: 1024px) {
  .productivity .prod_content {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.productivity .prod_content h2 {
  text-align: center;
  margin: 0.8em 0;
}

@media (min-width: 414px) {
  .productivity .prod_content h2 {
    font-size: 2.7em;
  }
}

@media (min-width: 1024px) and (max-width: 1440px) {
  .productivity .prod_content h2 {
    text-align: left;
  }
}

.productivity .prod_content p.linkstyle {
  margin: 0.6em 0;
  color: #65e2d9;
  border-bottom: 1px solid #65e2d9;
  width: 150px;
}

@media (min-width: 768px) {
  .productivity .prod_content p.linkstyle {
    width: 167px;
  }
}

.productivity .prod_content p.linkstyle::after {
  content: url("../images/icon-arrow.svg");
  text-align: center;
  margin-left: 0.3em;
  vertical-align: middle;
}

.testimonal {
  padding: 200px 33px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.testimonal .quote_wrapper .quote {
  background: #202a3c;
  padding: 2em;
  color: white;
  border-radius: 4px;
  margin-bottom: 25px;
}

.testimonal .quote_wrapper .quote img {
  border-radius: 50px;
  width: 25px;
  margin-right: 0.8em;
}

.testimonal .quote_wrapper .quote .profile {
  margin-top: 0.8em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.testimonal .quote_wrapper .quote .profile .info {
  font-size: 0.8em;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .testimonal .quote_wrapper {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .testimonal .quote_wrapper .quote {
    padding: 1em;
    font-size: 1.4em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
    height: 100%;
  }
  .testimonal .quote_wrapper .quote .profile img {
    width: 50px;
  }
}

@media (min-width: 1025px) {
  .testimonal .quote_wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .testimonal .quote_wrapper .quote {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    font-size: 1.3em;
    margin-bottom: 0;
    padding: 0.8em;
    height: 100%;
    line-height: 1.2em;
  }
  .testimonal .quote_wrapper .quote .profile {
    margin-top: 30px;
  }
  .testimonal .quote_wrapper .quote .profile img {
    width: 30px;
  }
  .testimonal .quote_wrapper .quote:nth-child(2) {
    margin: 0 25px;
  }
}

.testimonal::before {
  display: block;
  content: url("../images/bg-quotes.png");
}

.newsletter {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.newsletter .newsletter_box {
  border-bottom: 0 none;
  -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.46);
          box-shadow: 0 1px 5px rgba(0, 0, 0, 0.46);
  background-color: #1c2431;
  border-radius: 8px;
  position: absolute;
  top: -130px;
  width: 330px;
  height: 300px;
  text-align: center;
  padding: 2em;
}

.newsletter .newsletter_box .form_group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.newsletter .newsletter_box .form_group input,
.newsletter .newsletter_box .form_group button {
  height: 45px;
}

.newsletter .newsletter_box .form_group input {
  border: none;
  border-radius: 35px;
  padding: 1.2em;
  width: 100%;
}

.newsletter .newsletter_box .form_group button {
  cursor: pointer;
  background-color: #339ecc;
  border: none;
  padding: 0.8em;
  width: 100%;
  border-radius: 35px;
  color: white;
  margin: 1.5em 0;
}

.newsletter .newsletter_box h3 {
  margin-bottom: 1em;
}

.newsletter .newsletter_box p {
  line-height: 1.5em;
  margin-bottom: 1em;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .newsletter .newsletter_box {
    width: 620px;
    height: 275px;
  }
  .newsletter .newsletter_box .form_group {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .newsletter .newsletter_box .form_group input {
    width: 60%;
    margin-right: 1.2em;
  }
  .newsletter .newsletter_box .form_group button.newsletter_btn {
    width: 38%;
  }
  .newsletter h3 {
    font-size: 2em;
  }
}

@media (min-width: 1025px) {
  .newsletter {
    height: 120px;
  }
  .newsletter .newsletter_box {
    top: -22px;
    width: 867px;
    height: 285px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 0 69px;
  }
  .newsletter .newsletter_box h3 {
    font-size: 1.8em;
  }
  .newsletter .newsletter_box .form_group {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .newsletter .newsletter_box .form_group input {
    width: 60%;
    margin-right: 1.2em;
  }
  .newsletter .newsletter_box .form_group button {
    width: 40%;
  }
}

footer {
  padding: 196px 26px 20px 26px;
  background-color: #0b1523;
  height: 970px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  font-size: 1.1em;
}

footer ul {
  list-style: none;
}

footer .top_menu ul li {
  margin-bottom: 1.5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

footer .top_menu ul li i {
  margin-right: 0.8em;
}

footer .top_menu ul li:nth-child(2) {
  line-height: 1.6em;
}

footer .middle_menu ul {
  margin-bottom: 46px;
}

footer .middle_menu ul li {
  margin-bottom: 14px;
}

footer .end_menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer .end_menu ul li {
  margin-right: 1em;
}

footer .end_menu ul li i {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 30px;
  height: 30px;
  border: 1px solid white;
  border-radius: 50%;
}

@media (min-width: 1024px) {
  footer {
    padding: 196px 117px 20px 117px;
  }
}

@media (min-width: 1220px) {
  footer {
    padding: 196px 117px 50px 117px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    height: 513px;
  }
  footer .top_menu {
    width: 37%;
  }
  footer .middle_menu {
    height: 77%;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    width: 27%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  footer .middle_menu ul {
    margin-bottom: 0;
  }
}
