* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  background: #1c2431;
}

ul,
h1,
h2,
h3 {
  font-family: 'Raleway', sans-serif;
  color: white;
}

p {
  color: white;
}

@media only screen and (min-width: 768px) {
  p {
    font-size: 1.10em;
  }
}

.features,
.productivity,
.testimonal,
.newsletter {
  background-color: #181f2a;
}

header {
  display: -ms-grid;
  display: grid;
      grid-template-areas: "Logo Menu";
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
  padding: 22px 20px 43px 20px;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  header {
    padding: 50px 50px;
  }
}

@media screen and (min-width: 1025px) and (max-width: 1440px) {
  header {
    padding: 70px 80px;
  }
}

header img {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: Logo;
  width: 76px;
}

@media screen and (min-width: 768px) {
  header img {
    width: 179px;
  }
}

header nav {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: Menu;
}

header nav ul {
  height: 100%;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

header nav ul li {
  margin-left: 21px;
}

.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  position: relative;
}

@media only screen and (min-width: 320px) and (max-width: 768px) {
  .hero {
    padding: 0 32px;
  }
}

.hero img {
  width: 100%;
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .hero img {
    max-width: 630px;
  }
}

@media only screen and (min-width: 1025px) and (max-width: 1440px) {
  .hero img {
    max-width: 712px;
  }
}

.hero h1,
.hero p {
  line-height: 1.6;
}

.hero h1 {
  font-size: 1.6em;
  margin-top: 37px;
}

@media only screen and (min-width: 768px) {
  .hero h1 {
    font-size: 2em;
  }
}

@media only screen and (min-width: 1024px) {
  .hero h1 {
    padding: 0 5em;
  }
}

.hero p {
  margin: 19px 0;
  padding: 0 1em;
}

@media only screen and (min-width: 1024px) {
  .hero p {
    padding: 0 17em;
  }
}

.hero button {
  width: 217px;
  height: 45px;
  font-weight: 700;
  border-radius: 30px;
  background-image: -webkit-gradient(linear, left top, right top, from(#65e2d9), to(#339ecc));
  background-image: linear-gradient(to right, #65e2d9, #339ecc);
  border: none;
  color: white;
}

@media only screen and (min-width: 1024px) and (max-width: 1440px) {
  .hero button {
    width: 283px;
    height: 58px;
    font-size: 1.2em;
  }
}

.hero:after {
  content: "";
  position: absolute;
  bottom: 0;
  background-image: url("../images/bg-curvy-mobile.svg");
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: 100% 39vh;
  width: 100%;
  height: 55vh;
  z-index: -1;
}

@media screen and (min-width: 1440px) {
  .hero:after {
    background: url("../images/bg-curvy-desktop.svg");
    background-size: 1440px;
    background-repeat: no-repeat;
    background-position: -2px bottom;
    height: 65vh;
  }
}

.features {
  padding: 143px 33px;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (auto)[4];
      grid-template-rows: repeat(4, auto);
  row-gap: 72px;
  text-align: center;
}

@media screen and (min-width: 768px) and (max-width: 1440px) {
  .features {
    padding: 164px 50px 20px 50px;
    -ms-grid-columns: auto auto;
        grid-template-columns: auto auto;
    grid-auto-rows: auto auto;
    font-size: 0.9em;
    -webkit-column-gap: 118px;
            column-gap: 118px;
  }
}

@media screen and (min-width: 1024px) {
  .features {
    -webkit-column-gap: 153px;
            column-gap: 153px;
  }
}

.features .feature {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.features .feature h2 {
  margin: 0.6em 0;
}

.features .feature p {
  line-height: 1.5;
}

.productivity {
  padding: 0 24px;
  display: -ms-grid;
  display: grid;
      grid-template-areas: "image" "content";
  row-gap: 20px;
}

@media (min-width: 768px) {
  .productivity {
    padding: 0 50px;
  }
}

@media (min-width: 1024px) {
  .productivity {
        grid-template-areas: "image content";
    -webkit-column-gap: 50px;
            column-gap: 50px;
  }
}

.productivity img {
  width: 100%;
  grid-area: "image";
  -ms-grid-column-align: center;
      justify-self: center;
}

@media (min-width: 376px) and (max-width: 1023px) {
  .productivity img {
    width: 80%;
  }
}

@media (min-width: 1024px) and (max-width: 1224px) {
  .productivity img {
    width: 100%;
  }
}

@media (min-width: 1440px) {
  .productivity img {
    width: 619px;
  }
}

.productivity .prod_content {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: content;
}

@media (min-width: 1024px) {
  .productivity .prod_content {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}

@media (min-width: 1024px) {
  .productivity .prod_content {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.productivity .prod_content h2 {
  text-align: center;
  margin: 0.8em 0;
}

@media (min-width: 414px) {
  .productivity .prod_content h2 {
    font-size: 2.7em;
  }
}

@media (min-width: 1024px) and (max-width: 1440px) {
  .productivity .prod_content h2 {
    text-align: left;
  }
}

.productivity .prod_content p.linkstyle {
  margin: 0.6em 0;
  color: #65e2d9;
  border-bottom: 1px solid #65e2d9;
  width: 150px;
}

@media (min-width: 768px) {
  .productivity .prod_content p.linkstyle {
    width: 167px;
  }
}

.productivity .prod_content p.linkstyle::after {
  content: url("../images/icon-arrow.svg");
  text-align: center;
  margin-left: 0.3em;
  vertical-align: middle;
}

.testimonal {
  padding: 276px 33px;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto auto auto auto;
      grid-template-rows: auto auto auto auto;
  row-gap: 21px;
}

@media (min-width: 600px) and (max-width: 768px) {
  .testimonal {
    -ms-grid-rows: 35px 200px 200px 200px;
        grid-template-rows: 35px 200px 200px 200px;
  }
  .testimonal .quote {
    font-size: 1.4em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .testimonal .quote .profile img {
    width: 50px;
  }
}

.testimonal::before {
  display: block;
  content: url("../images/bg-quotes.png");
}

.testimonal .quote {
  padding: 2em;
  color: white;
  background: #1c2431;
  border-radius: 4px;
}

.testimonal .quote img {
  border-radius: 50px;
  width: 25px;
  margin-right: 0.8em;
}

.testimonal .quote .profile {
  margin-top: 0.8em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
