@import 'variables.scss';
@import 'global.scss';

header {
    display: grid;
    grid-template-areas: "Logo Menu";
    grid-template-columns: auto auto;
    padding: 22px 20px 43px 20px;

    @media screen and (min-width: 768px) and (max-width: 1024px) {
        padding: 50px 50px;
    }

    @media screen and (min-width: 1025px) and (max-width: 1440px) {
        padding: 70px 80px;
    }

    img {
        grid-area: Logo;
        width: 76px;

        @media screen and (min-width: 768px) {
            width: 179px;
        }
    }

    nav {
        grid-area: Menu;

        ul {
            height: 100%;
            list-style: none;
            display: flex;
            align-items: center;
            justify-content: flex-end;

            li {
                margin-left: 21px;
            }
        }
    }
}

.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;

    @media only screen and (min-width: 320px) and (max-width: 768px) {
        padding: 0 32px;
    }

    img {
        width: 100%;

        @media only screen and (min-width: 768px) and (max-width: 1024px) {
            max-width: 630px;
        }

        @media only screen and (min-width: 1025px) and (max-width: 1440px) {
            max-width: 712px;
        }
    }

    h1,
    p {
        line-height: 1.6;
    }

    h1 {
        font-size: 1.6em;
        margin-top: 37px;

        @media only screen and (min-width: 768px) {
            font-size: 2em;
        }

        @media only screen and (min-width: 1024px) {
            padding: 0 5em;
        }
    }

    p {
        margin: 19px 0;
        padding: 0 1em;

        @media only screen and (min-width: 1024px) {
            padding: 0 17em;
        }
    }

    button {
        width: 217px;
        height: 45px;
        font-weight: 700;
        border-radius: 30px;
        background-image: linear-gradient(to right, $CTA-cyan, $CTA-blue);
        border: none;
        color: white;

        @media only screen and (min-width: 1024px) and (max-width: 1440px) {
            width: 283px;
            height: 58px;
            font-size: 1.2em;
        }
    }

    &:after {
        content: "";
        position: absolute;
        bottom: 0;
        background-image: url("../images/bg-curvy-mobile.svg");
        background-repeat: no-repeat;
        background-position: bottom center;
        background-size: 100% 39vh;
        width: 100%;
        height: 55vh;
        z-index: -1;

        @media screen and (min-width: 1440px) {
            background: url("../images/bg-curvy-desktop.svg");
            background-size: 1440px;
            background-repeat: no-repeat;
            background-position: -2px bottom;
            height: 65vh;
        }
    }
}

.features {
    padding: 143px 33px;
    display: grid;
    grid-template-rows: repeat(4, auto);
    row-gap: 72px;
    text-align: center;

    @media screen and (min-width: 768px) and (max-width: 1440px) {
        padding: 164px 50px 20px 50px;
        grid-template-columns: auto auto;
        grid-auto-rows: auto auto;
        font-size: 0.9em;
        column-gap: 118px;
    }

    @media screen and (min-width: 1024px) {
        column-gap: 153px;
    }

    .feature {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        h2 {
            margin: 0.6em 0;
        }

        p {
            line-height: 1.5;

        }
    }
}

.productivity {
    padding: 0 24px;
    display: grid;
    grid-template-areas: "image"
        "content";
    row-gap: 20px;

    @media (min-width: 768px) {
        padding: 0 50px;
    }

    @media (min-width: 1024px) {
        grid-template-areas: "image content";
        column-gap: 50px;
    }

    img {
        width: 100%;
        grid-area: "image";
        justify-self: center;

        @media (min-width: 376px) and (max-width: 1023px) {
            width: 80%;
        }

        @media (min-width:1024px) and (max-width: 1224px) {
            width: 100%;
        }

        @media (min-width: 1440px) {
            width: 619px;
        }
    }

    .prod_content {
        grid-area: content;

        @media (min-width: 1024px) {
            align-self: center;
        }

        @media (min-width: 1024px) {
            flex-direction: row;
        }

        h2 {
            text-align: center;
            margin: 0.8em 0;

            @media (min-width: 414px) {
                font-size: 2.7em;
            }

            @media (min-width: 1024px) and (max-width: 1440px) {
                text-align: left;
            }
        }

        p.linkstyle {
            margin: 0.6em 0;
            color: $CTA-cyan;
            border-bottom: 1px solid $CTA-cyan;
            width: 150px;

            @media (min-width: 768px) {
                width: 167px;
            }

            &::after {
                content: url("../images/icon-arrow.svg");
                text-align: center;
                margin-left: 0.3em;
                vertical-align: middle
            }
        }
    }
}

.testimonal {
    padding: 200px 33px;
    display: flex;
    flex-direction: column;

    .quote_wrapper {
        .quote {
            background: $test-blue;
            padding: 2em;
            color: white;
            border-radius: 4px;
            margin-bottom: 25px;

            img {
                border-radius: 50px;
                width: 25px;
                margin-right: 0.8em;
            }

            .profile {
                margin-top: 0.8em;
                display: flex;
                align-items: center;

                .info {
                    font-size: 0.8em;
                }
            }
        }
    }

    @media (min-width: 768px) and (max-width: 1024px) {
        .quote_wrapper {
            justify-content: center;
            align-items: center;

            .quote {
                padding: 1em;
                font-size: 1.4em;
                display: flex;
                flex-direction: column;
                justify-content: center;
                width: 100%;
                height: 100%;

                .profile {
                    img {
                        width: 50px;
                    }
                }

            }
        }
    }

    @media (min-width: 1025px) {
        .quote_wrapper {
            display: flex;

            .quote {
                display: flex;
                flex-direction: column;
                font-size: 1.3em;
                margin-bottom: 0;
                padding: 0.8em;
                height: 100%;
                line-height: 1.2em;

                .profile {
                    margin-top: 30px;

                    img {
                        width: 30px;
                    }
                }

                &:nth-child(2) {
                    margin: 0 25px;
                }
            }
        }
    }

    &::before {
        display: block;
        content: url("../images/bg-quotes.png");
    }

}

.newsletter {
    position: relative;
    display: flex;
    justify-content: center;

    .newsletter_box {
        border-bottom: 0 none;
        box-shadow: 0 1px 5px rgba(0, 0, 0, 0.46);
        background-color: $intro-blue;
        border-radius: 8px;
        position: absolute;
        top: -130px;
        width: 330px;
        height: 300px;
        text-align: center;
        padding: 2em;

        .form_group {
            display: flex;
            flex-direction: column;

            input,
            button {
                height: 45px;
            }

            input {
                border: none;
                border-radius: 35px;
                padding: 1.2em;
                width: 100%;
            }

            button {
                cursor: pointer;
                background-color: $CTA-blue;
                border: none;
                padding: 0.8em;
                width: 100%;
                border-radius: 35px;
                color: white;
                margin: 1.5em 0;
            }
        }

        h3 {
            margin-bottom: 1em;
        }

        p {
            line-height: 1.5em;
            margin-bottom: 1em;
        }
    }

    @media (min-width: 768px) and (max-width: 1024px) {
        .newsletter_box {
            width: 620px;
            height: 275px;

            .form_group {
                align-items: center;
                flex-direction: row;

                input {
                    width: 60%;
                    margin-right: 1.2em;
                }

                button.newsletter_btn {
                    width: 38%;
                }
            }
        }

        h3 {
            font-size: 2em;
        }
    }

    @media (min-width: 1025px) {
        height: 120px;

        .newsletter_box {
            top: -22px;
            width: 867px;
            height: 285px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding: 0 69px;

            h3 {
                font-size: 1.8em;
            }

            .form_group {
                flex-direction: row;
                align-items: center;

                input {
                    width: 60%;
                    margin-right: 1.2em;
                }

                button {
                    width: 40%;
                }
            }
        }
    }
}

footer {
    padding: 196px 26px 20px 26px;
    background-color: $footer-blue;
    height: 970px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-size: 1.1em;

    ul {
        list-style: none;
    }

    .top_menu {
        ul {
            li {
                margin-bottom: 1.5em;
                display: flex;
                align-items: baseline;

                i {
                    margin-right: 0.8em;
                }

                &:nth-child(2) {
                    line-height: 1.6em;
                }
            }
        }
    }

    .middle_menu {
        ul {
            margin-bottom: 46px;

            li {
                margin-bottom: 14px;
            }
        }
    }

    .end_menu {
        ul {
            display: flex;
            justify-content: center;

            li {
                margin-right: 1em;

                i {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 30px;
                    height: 30px;
                    border: 1px solid white;
                    border-radius: 50%;
                }
            }
        }
    }

    @media (min-width: 1024px) {
        padding: 196px 117px 20px 117px;
    }

    @media (min-width:1220px) {
        padding: 196px 117px 50px 117px;
        flex-direction: row;
        height: 513px;

        .top_menu {
            width: 37%
        }

        .middle_menu {
            height: 77%;
            align-items: flex-end;
            width: 27%;
            display: flex;
            justify-content: space-between;

            ul {
                margin-bottom: 0;
            }
        }
    }
}